.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.header-logo {
  max-height: 80px;
}

.header-logo__logo {
  max-height: 80px;
  width: auto;
}
