.sidebar {
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  padding: 2rem;
}

.sidebar__header {
  margin: 0 0 1rem 0;
}

.sidebar__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}